<%- layout('layout/main.ejs')%>
<main style="margin-top: 40px;" class="container-sm mt-30 flex-wrap">
        <h1 style="margin-bottom: 20px;">Productos en venta</h1>
        <div class="d-flex  flex-wrap justify-content-around">
            <div class="card me-auto mt-30" style="width: 18rem;">
                <img src="https://coca-colafemsa.com/wp-content/uploads/2019/11/2.png" class="card-img-top" alt="Imagen del Producto">
                <div class="card-body">
                    <h5 class="card-title">Coca Cola</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">$74.00</li>
                    <li class="list-group-item">Stock: 6</li>
                    <li class="list-group-item">Bebidas</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-success">Agregar producto</button>
                </div>
            </div>
        </div>
    </main>