<form action="/signup" method="POST">

    <input type="email" name="email" placeholder="Inserte su email">
    <input type="password" name="psw" id="psw" placeholder="Escriba su contraseña">

    <button>Registrarse</button>

</form>