<%- layout('layout/main.ejs')%>
    <main class="container-sm mt-30 flex-wrap" style="margin-top: 50px;">
        <h1 style="margin-bottom: 20px;">Editar productos de <%- user.username%></h1>
        <div class="d-flex  flex-wrap justify-content-around">
            <div class="card me-auto mt-30" style="width: 18rem;">
                <img src="https://coca-colafemsa.com/wp-content/uploads/2019/11/2.png" class="card-img-top" alt="Imagen del Producto">
                <div class="card-body">
                    <h5 class="card-title">Coca Cola</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">$74.00</li>
                    <li class="list-group-item">Stock: 6</li>
                    <li class="list-group-item">Bebidas</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-warning">Editar</button>
                    <button class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </main>